html {
  background-color: #ccc;
}
.food {
  margin: 20px auto;
  width: 200px;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
}
.navbar {
  background: white;
  padding: 20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
}
